.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
}

.header .logo {
    display: flex;  
    align-items: center; 
    font-size: 1.5rem;
    font-weight: bold;
}

.logo-image {
    height: 60px;
}

.header nav ul {
    display: flex;
    list-style-type: none;
}

.header nav ul li {
    margin: 0 15px;
}

.header nav ul li a {
    text-decoration: none;
    color: #333;
}